/* ReviewAnswers.css */

.review-answers {
    background-color: #E6E6FA; /* Light violet background */
    color: #8A2BE2; /* Primary violet color for text */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.review-table {
    width: 80%; /* Adjust width as needed */
    border-collapse: collapse; /* Remove space between table cells */
    margin: auto auto 30px;
}

.review-table th, .review-table td {
    border: 1px solid #8A2BE2; /* Violet border for table cells */
    padding: 8px; /* Padding inside cells */
    text-align: center;
}

.correct-answer {
    color: green; /* Green color for correct answers */
}

.incorrect-answer {
    color: red; /* Red color for incorrect answers */
}
